.navbar{
    margin-bottom: 0;
}
h3{
    margin-top: 5px;
    text-align: center;
}
#Tempdata{
    text-align: center;
    color: rgba(255,99,132,1);
    font-size: 80pt;
    margin-top: -20px;
    margin-bottom: -20px;
}

.light{
    color: darkgray;
}

.floatleft{
    float: left;
}

.list-group{
    overflow: auto;
    height: 75vh;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}